*{
    padding: 0;
    margin: 0 auto;
}

h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
/* .container{
    width: 600px;
    line-height: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
}
label{
    font-weight: bold;
    margin-left: 25px;
}
input{
    margin-left: 25px;
    border: 1px solid gray;
}
.input, fieldset{
    width: 90%;
    height: 30px;
}
select{
    width: 90%;
}
select, textarea{
    margin-left: 25px;
}
input, select, textarea{
    border-radius: 10px;
}
.write{
    width: 90%;
    height: 100px;
}
.button{
    text-align: center;
    margin-bottom: 10px;
    
}
.button input{
    display: inline-block;
    border: none;
    background: #272f54;
    color: white;
    font-size: 1em;
    width: 129px;
    height: 44px;
    margin: 0 16px 0 0;
    padding: 15px 20px;
    border-radius: 20px;
}

 */
